/* Cadastro_Animais.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f8ff;
}

.cadastro-container {
    width: 90%;
    max-width: 800px;
    background-color: #fff;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 1.5em;
    color: #333;
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5em;
}

form input[type="text"],
form input[type="number"],
form input[type="date"] {
    width: 100%;
    padding: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

form input[type="text"]:focus,
form input[type="number"]:focus,
form input[type="date"]:focus {
    outline: none;
    border-color: #4a90e2;
    box-shadow: 0 0 8px rgba(74, 144, 226, 0.3);
}

/* Estilo do botão de submit */
.submit-btn {
    grid-column: 1 / span 2; /* O botão agora ocupa ambas as colunas */
    padding: 14px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f0f8ff;
    width: 50%; /* Define a largura */
    margin: 0 auto; /* Centraliza o botão */
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

.submit-btn:hover {
    border-color: #4a90e2;
    box-shadow: 0 0 8px rgba(74, 144, 226, 0.3);
}

#success-message,
#error-message {
    margin-top: 1em;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    text-align: center;
    transition: opacity 0.3s ease;
    grid-column: 1 / span 2;
}

#success-message {
    background-color: #4caf50;
}

#error-message {
    background-color: #f44336;
}

/* Estilo do Rodapé */
.site-footer {
  background-color: #111; /* Fundo escuro */
  color: #ccc; /* Texto claro */
  text-align: center;
  padding: 20px;
  width: 100%; /* Ocupe toda a largura da tela */
  font-size: 14px;
  font-family: Arial, sans-serif;
  margin-top: 500px; /* Espaço acima do rodapé */
}

.site-footer .social-icons {
  margin-bottom: 15px;
}

.site-footer .social-icons a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-size: 18px;
}

.site-footer .social-icons a:hover {
  color: #00bcd4; /* Cor de destaque ao passar o mouse */
}

.site-footer .footer-links,
.site-footer .footer-policies {
  margin-bottom: 10px;
}

.site-footer .footer-links a,
.site-footer .footer-policies a {
  color: #ccc;
  text-decoration: none;
  margin: 0 5px;
}

.site-footer .footer-links a:hover,
.site-footer .footer-policies a:hover {
  color: #fff; /* Cor de destaque ao passar o mouse */
}

.site-footer span {
  margin: 0 5px;
  color: #666; /* Separadores */
}

.site-footer p {
  margin: 10px 0 0;
  font-size: 12px;
  color: #666;
}
