*{
    margin: 0;
    padding: 0;
    box-sizing: border-box 
}
.area-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.first-column {
    background-color: dodgerblue;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 250px;
    width: 320px;
}

.second-column {
    background-color: lavender;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 250px;
    width: 320px;
}

.form {
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
}

.container {
    background-image: linear-gradient(to right, lavender 50%, dodgerblue 50%);
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .error-message {
    color: red;
    margin-bottom: 10px;
    display: none;
  }

  .imagem-container img {
    height: 100px;
    width: 100px;
    margin-top: 20px; /* Reduzindo o espaço acima da imagem */
  }
  .create-account-btn {
    background-color: #ffffff; /* Cor branca */
    color: #4285f4; /* Azul do Google */
    border: 1px solid #4285f4;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .create-account-btn:hover {
    background-color: #4285f4;
    color: #ffffff;
  }
  
