/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Layout Geral */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column; /* Para navbar horizontal e conteúdo principal */
}

/* Navbar Horizontal */
.navbar-horizontal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007bff;
  padding: 1rem;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100; /* Garante que a navbar horizontal fique acima da navbar vertical */
}

.navbar-horizontal .logo h1 {
  margin: 0;
  font-size: 1.5rem;
}

.navbar-horizontal .actions .btn {
  background-color: #fff;
  color: #007bff;
  border: none;
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s; /* Transição suave */
}

.navbar-horizontal .actions .btn:hover {
  background-color: #0056b3; /* Cor de fundo mais escura */
  color: white; /* Cor do texto branca */
}

.navbar-horizontal .user-info {
  display: flex;
  align-items: center;
}

.navbar-horizontal .user-info .user-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.navbar-horizontal .user-info .user-name {
  font-size: 1rem;
}

/* Navbar Vertical */
.navbar-vertical {
  position: absolute; /* Fixa a barra vertical na tela */
  top: 70px; /* Compensa a altura da navbar horizontal */
  left: 0;
  width: 200px;
  height: calc(100vh - 80px); /* Preenche a altura da tela menos a navbar horizontal */
  background-color: #000000;
  padding-top: 20px;
  color: white;
  z-index: 50; /* Garante que a navbar vertical fique atrás da navbar horizontal */
}

/* Navbar Logo */
.navbar-vertical .navbar-logo {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.navbar-vertical ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-vertical ul li {
  margin-bottom: 1rem;
}

.navbar-vertical ul li a {
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  display: block;
  transition: background-color 0.3s ease, color 0.3s ease; /* Transição suave de cor de fundo e texto */
}

.navbar-vertical ul li a:hover {
  background-color: #575757; /* Cor de fundo mais escura no hover */
  color: #fff; /* Garantir que a cor do texto fique branca */
}

.navbar-vertical ul li a:active {
  transform: scale(0.98); /* Efeito visual de clique */
}

/* Conteúdo Principal */
.main-content {
  margin-left: 200px; /* Espaço para a navbar vertical */
  margin-top: 80px; /* Espaço para a navbar horizontal */
  padding: 2rem;
  background-color: #f1f1f1;
  min-height: calc(100vh - 80px); /* Altura mínima sem sobrepor navbar */
  overflow-y: auto; /* Permite rolar apenas no conteúdo */
  position: relative; /* Mantém a rolagem no conteúdo principal */
}
